
<div class="container mt-5">
  <h1>Ask your coach anything</h1>
  <form action="/answer" data-turbo="false" class="mt-4">
    <div class="mb-3">
      <label for="question" class="form-label">Your question</label>
      <input type="text" id="question" name="question" class="form-control">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
